
:root{
--color-first: #18a7c5;
--color-second: #5e3d22;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;}
.navbar-brand img{max-width: 25%;}
.navbar-nav li{ margin:3% 5%;}
.navbar-nav li a{ color:black;}
.login-links,.social-links{display: inline;}
.social-links {float:right;}
.social-login a{color:#fff !important;padding:0px 15px;}